<div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span style="font-size: 40px;">Your Booking for a </span>
    </a>
  </header>
  <p style="font-size: 18px">
    Booking for <b></b>
  </p>
  <main class="border p-2">
    <div class="border-bottom">
      <p style="font-size: 32px;"></p>
      <p style="font-size: 28px;">Booking id: </p>
    </div>

    <div style="display: flex; ">
      <div class="border-bottom">
        <p style="font-size: 28px"><strong></strong></p>
        <p class="text-muted"></p>
        <ul class="icon-list">
          <li style="font-size: 18px">Please arrive at the dive center by </li>
          <li style="font-size: 18px"></li>
          <li style="font-size: 18px"><b>No. of dives</b>: </li>
          <li style="font-size: 18px"><b>Duration per dive</b>:  minutes</li>
          <li style="font-size: 18px"><b>Price</b>: $ </li>
          <li style="font-size: 18px"><b>No. of diver(s)</b>: </li>
        </ul>
      </div>
      <div style="">
        <p style="font-size: 28px"><strong></strong></p>
        <p class="text-muted"><em></em></p>
        <ul class="icon-list">
          <li style="font-size: 18px"><b>Address</b>: </li>
          <li style="font-size: 18px"><b>Phone</b>:</li>
          <li style="font-size: 18px"><b>Email</b>: </li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    PDF generated at <%= Time.zone.now %> | Created by offgrid · © 2021
  </footer>
</div>
