// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


// Define fonts for body and headers
$body-font: "Palanquin", "Helvetica", "sans-serif";
$headers-font: "Open Sans", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Metropolis Regular';
  src: url('Metropolis Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('Metropolis Bold.otf');
  font-weight: bold;
  font-style: bold;
}