#upcoming {
  background: floralwhite;
  min-height: 50vh;
  padding: 4rem;
}

#recommended {
  background: white;
  min-height: 50vh;
  padding: 4rem;
}

#learning {
  background: darkslategray;
  min-height: 50vh;
  padding: 4rem;
  text-align: center;
}

.rounded-card {
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: transform ease-in 0.2s;
}

.status {
  width: 120px;
  height: 48px;
  top: 20%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $green;
  color: white;
}
