#mobile-banner-text {
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  transform: none;
}

.mobile-header {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  transform: none;
  width: 90
}

.mobile-sub-header {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  transform: none;
}

.mobile-text {
  font-size: 0.8rem;
}

#mobile-upcoming {
  background: floralwhite;
  min-height: 75vh;
  padding: 0.7rem;
}

.mobile-img-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.7rem;
}

.dashboard-box {
  background-color: white;
}

#forecast .dashboard-card-body {
  text-align: center;
  flex: 1 1 auto;
  min-height: 1px;
}

#forecast .w-card .mobile-title {
  font-size: 0.4rem;
  font-weight: bold;
}

#forecast .w-card .mobile-icon {
  margin: 5px 0 5px;
  width: 30px;
}

#forecast .w-card .mobile-wx {
  font-size: 0.4rem;
}

#forecast .w-card .mobile-temps {
  font-size: 0.4rem;
  font-weight: bold;
}

.dashboard-progress-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	max-width: 100%;
	width: 90%;
  z-index: 99;
}

.dashboard-progress-container::before {
	content: "";
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 80%;
	z-index: -1;
	transition: 0.4s ease;
}

.dashboard-progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 0.4s ease;
}

.dp-circle {
	background-color: white;
	color: #999;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--line-border-empty);
	transition: 0.4s ease;
}

.dp-circle.active {
  background: darkslategray;
}
