#upcoming {
  background: floralwhite;
  min-height: 50vh;
  padding: 4rem;
}

#recommended {
  background: white;
  min-height: 50vh;
  padding: 4rem;
}

#learning {
  background: darkslategray;
  min-height: 50vh;
  padding: 4rem;
  text-align: center;
}
