// Specific CSS for your home-page
#home-carousell-card {
  transition: transform ease-in 0.2s;
}

.carousel-item #home-carousell-card:hover {
  transform: scale(1.01);
  // box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.3);
}

.grayscale {
  filter: grayscale(0%);
  transition: ease-in 0.4s;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: transform ease-in 0.2s;
}

// .card-title {
//   transition: all ease-in 0.3s;
// }

.card-container:hover {
  .card-category {
    transform: scale(1.01);
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.3);
  }
}

// .card-container:hover .card-category::after {
//   transform: scaleX(1);
// }

.card-text {
  width: 400px;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}
