.warning {
  border: 1px solid firebrick;
}

.mobile-card-body {
  padding-top: 1rem;
}

.checklist-box-padding {
  padding-left: 1rem;
}

#trip_photo {
  visibility: hidden;
  position: absolute;
}
.file.optional {
  color: transparent;
}
* {
  text-decoration: none !important;
}
.img-wrapper {
  #status-bar-img {
    width: 100%
  };
}
.img-active{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 100%;
}
