.warning {
  border: 1px solid firebrick;
}

.mobile-card-body {
  padding-top: 1rem;
}


.checklist-box-padding {
  padding-left: 1rem;
}

#trip_photo {
  visibility: hidden;
  position: absolute;
}
.file.optional {
  color: transparent;

}
