<div class="d-flex flex-column justify-content-center align-items-center" style="width:80%; height:50vh;">
  <div class="h1 mb-4 py-3 text-white font-weight-bold">Mother Nature Awaits</div>
  <div class="row d-flex justify-content-center" style="width:100%; gap:24px;">
    <%= link_to "trails_path", class:"text-white", style:"text-decoration:none; font-size: 1rem;" do %>
      <div class="card-container">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/eztree/Sandbox/master/app/assets/images/plan-trip.jpg)">
          <p class="card-title" >Plan your trip</p>
        </div>
        <div class="card-text">Overwhelmed? No worries!<br>We cut the noise and give you the itinerary you need</div>
      </div>
    <% end %>
    <%= link_to "trails_path", class:"text-white", style:"text-decoration:none; font-size: 1rem;" do %>
      <div class="card-container">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/eztree/Sandbox/master/app/assets/images/next-adventure.jpg)">
          <p class="card-title">Find your next adventure</p>
        </div>
        <div class="card-text">Don't know where to go?<br>Discover and explore our specially curated trails</div>
      </div>
    <% end %>
    <%= link_to "trails_path", class:"text-white",style:"text-decoration:none; font-size: 1rem;" do %>
      <div class="card-container">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/eztree/Sandbox/master/app/assets/images/stay-safe.jpg)">
          <p class="card-title">Get lost and found</p>
        </div>
        <div class="card-text">Lose yourself in nature's beauty<br>Rest assured, your contacts will be kept in the know</div>
      </div>
    <% end %>
  </div>
</div>
