<div class="container d-flex justify-content-center">
  <%# All steps are complete %>
  <% if @current_trip.checklists.all? { |checklist| checklist.checked } && @current_trip.last_seen_photo  %>
    <div class="status-wrapper">
      <div class="status-item mx-1">
        <div class="step-counter completed">
          <i class="fas fa-check" style="color:darkcyan;"></i>
        </div>
        <div class="step-name text-center">Checklist</div>
      </div>
      <div class="status-item mx-1">
        <div class="step-counter completed">
          <i class="fas fa-check" style="color:darkcyan;"></i>
        </div>
        <div class="step-name text-center">'Last seen' photo</div>
      </div>
      <div class="status-item active">
        <div class="step-counter">3</div>
        <div class="step-name text-center">Export itinerary</div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <%= link_to trip_path(@current_trip, format: :pdf), class: "btn btn-success", target: :_blank do %>
      <i class="fas fa-download"></i> Export
    <% end %>
  <%# Only checklist is done %>
  <% elsif @current_trip.checklists.all? { |checklist| checklist.checked } %>
    <div class="status-wrapper">
      <div class="status-item mx-1">
        <div class="step-counter completed">
          <i class="fas fa-check" style="color:darkcyan;"></i>
        </div>
        <div class="step-name text-center">Checklist</div>
      </div>
      <div class="status-item active mx-1">
        <div class="step-counter">2</div>
        <div class="step-name text-center">'Last seen' photo</div>
      </div>
      <div class="status-item">
        <div class="step-counter">3</div>
        <div class="step-name text-center">Export itinerary</div>
      </div>
    </div>
  </div>

    <div class="container d-flex justify-content-center">
      <div id="trip_last_photo" >
        <%= simple_form_for(@current_trip, method: :patch, url: trip_path(@current_trip, upload: :photo)) do |f| %>
              <input id="file" class="invisible fixed-top form-label" type="file" id="last_seen_photo" name="last_seen_photo">
              <p id='helper-text' class='invisible text-center m-0'></p>
            <div class="d-flex justify-content-center">
              <label for="file" class="btn btn-outline-success m-0 mr-1" id='upload-btn'><i class="fas fa-camera"></i></label>
              <button type="submit" class="btn btn-primary disabled" id='submit-btn' disabled>
                Upload photo
              </button>
            </div>
        <% end %>
      </div>
    </div>
  <%# No tasks are completed %>
  <% else %>
    <div class="status-wrapper">
      <div class="status-item active mx-1">
        <div class="step-counter active">
          1
        </div>
        <div class="step-name text-center">Checklist</div>
      </div>
      <div class="status-item mx-1">
        <div class="step-counter">2</div>
        <div class="step-name text-center">'Last seen' photo</div>
      </div>
      <div class="status-item">
        <div class="step-counter">3</div>
        <div class="step-name text-center">Export itinerary</div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <%= link_to user_trip_path(current_user, @current_trip), class: "btn btn-success px-2" do %>
      <i class="fas fa-tasks"></i> Checklist
    <% end %>
  <% end %>
  </div>
