<style>
  .navbar-lewagon {
    background-color: rgba(255, 255, 255,0);
  }

  .text-nav-color {
    color: white;
  }
</style>

<div class="parallax_wrapper">
<%= render "banner" %>
  <section class="parallax_group" id="group-2">
    <div class="parallax_layer mid_top_layer text-white"></div>
    <div class="parallax_layer top_layer"><%= render "section_intro" %></div>
  </section>

  <div class="parallax_group_short outro_screen" id="outro">
    <div class="d-flex flex-column justify-content-center align-items-center" style="height:50vh;">
    <div class="h1 mb-4 text-white font-weight-bold">Explore new routes</div>
    <div class="text-white text-center mb-4">You don't want to miss these exciting routes. Get inspired for your next trip with these trail guides.</div>
      <%= render "section_end", trails: @trails %>
    </div>
  </div>
</div>