<div class="parallax_wrapper">
<%= render "banner" %>
  <div class="parallax_group" id="group-2">
    <div class="parallax_layer mid_top_layer text-white">
      <div class="d-flex flex-column justify-content-center align-items-center" style="width:80%; height:480px;">
        <div class="h1 mb-4">Mother Nature Awaits</div>
        <div class="d-flex flex-row flex-wrap justify-content-between" style="width:100%;">
          <div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              Plan your trip
            </div>
            <div class="card-text">Overwhelmed? Don't be. We cut the noise and give you the itinerary you need.</div>
          </div>

          <div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              Find your next adventure
            </div>
            <div class="card-text">Don't sweat even before the trip begins. Discover where to go next.</div>
          </div>
          <div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              Get lost and found
            </div>
            <div class="card-text">Lose yourself in nature's beauty knowing you'll come home safe - all with our safety notification feature.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax_layer top_layer text-white"></div>
  </div>

  <div class="parallax_group outro_screen" id="outro">
    The end
  </div>
</div>


</div>
