<div class="card mb-3">
  <% @trail.photo_url.nil? ? image_url = "https://media.timeout.com/images/105666541/750/562/image.jpg" : image_url = @trail.photo_url %>
  <div class="rounded card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_url %>'); height: 45vh; background-position: center; background-size: cover; background-repeat: no-repeat;">
  </div>
  <div class="d-flex flex-column justify-content-end card-img-overlay mx-2" style="line-height: 0.5;">
    <h3 class="card-title text-white"><strong><%= @trail.name %></strong></h3>
    <p class="card-title text-white"><%= @trail.location %></p>
    <div class="ratings">
      <i class="fa fa-star rating-color"></i>
      <i class="fa fa-star rating-color"></i>
      <i class="fa fa-star rating-color"></i>
      <i class="fa fa-star rating-color"></i>
      <i class="fa fa-star"></i>
    </div>
  </div>
</div>
