<div class="card container-fluid p-0 mt-3">
    <div class="rounded" style="background-image: url('https://media.timeout.com/images/105666541/750/562/image.jpg'); background-position: center; height: 100px; width:100%;">
    </div>
    <div class="card-body text-left" style="padding: 10px 10px 0;">
      <div>
        <h5 class="font-weight-bold mb-0"><%= trail.name %></h5>
        <p class="text-left m-0"><%= trail.location %></p>
      </div>
      <div class="stars">
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star"></i>
      </div>
      <p><small>Length: <%= trail.route_distance %> • Est: <%= trail.time_needed %></small></p>
    </div>
  </div>
</div>
