<div>
  <div class="review">
    <div class="d-flex review-avatar align-items-center">
      <%= image_tag "https://i2.wp.com/www.roowanders.com/wp-content/uploads/2021/06/IMG_20191222_144534.jpg?fit=2048%2C2048&ssl=1", class:"avatar", style:"width: 64px;"%>
      <div class="review-header">
        <p class="font-weight-bold my-0 mx-2">Tan Xin Ru</p>
        <div class="ratings mx-2">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <small>December 1, 2021</small>
        </div>
      </div>
    </div>
      <div class="review-body mx-2 py-2">
        <p>This was a short and easy hike for me in between my Great Walks collection spree... I am looking forward to coming here again on New Years Eve if possible, so that I can view the first sunrise of the year.<br><br>Definitely recommend this hike for beginners. Did not need boots; trail runners were sufficient.</p>
      </div>
  </div>

  <div class="review">
    <div class="d-flex review-avatar align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar", style:"width: 64px;"%>
      <div class="review-header">
        <p class="font-weight-bold my-0 mx-2">Sebatian Saunier</p>
        <div class="ratings mx-2">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star"></i>
          <small>November 29, 2021</small>
        </div>
      </div>
    </div>
      <div class="review-body mx-2 py-2">
        <p>It was a pleasant hike! Would totally go again!</p>
      </div>
  </div>

  <div class="review">
    <div class="d-flex review-avatar align-items-center">
      <%= image_tag "https://ifsc.results.info/athletes/2294/photo", class:"avatar", style:"width: 64px;"%>
      <div class="review-header">
        <p class="font-weight-bold my-0 mx-2">Nonaka Miho</p>
        <div class="ratings mx-2">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <small>November 16, 2021</small>
        </div>
      </div>
    </div>
      <div class="review-body mx-2 py-2">
        <p>This trail was surprisingly rugged but absolutely delightful. Our team assumed it would be a couple of easy days out via the Apias Creek, a tributary of the Ikawatea Stream. The map indicated it would be reasonable going upstream, plus there were two bivvys I hadn't visited before.<br><br>However, our plans to follow Apias Creek the whole way up onto the flat tops at its head were soon thwarted by an unmarked waterfall, situated at a prominent forks. This was steeper and more rugged country than we’d anticipated. Salvation came in the form of a steep scramble up the spur pictured, which gave us access to the tops and the Golden Crown Track.<br><br>A better route might have been the spur that rises northeast from Mistake Biv – although by using that we’d have missed half the adventure.</p>
      </div>
  </div>


  <div class="review">
    <div class="d-flex review-avatar align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/sufiansuni", class:"avatar", style:"width: 64px;"%>
      <div class="review-header">
        <p class="font-weight-bold my-0 mx-2">Sufian Suni</p>
        <div class="ratings mx-2">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star"></i>
          <small>September 16, 2021</small>
        </div>
      </div>
    </div>
      <div class="review-body mx-2 py-2">
        <p>Really enjoyed the scenery here! Definitely great for photographers!</p>
      </div>
  </div>
</div>