<div class="container" style="padding-top: 7vh;">
  <div style="background: #e9e7d4;">
    <%= render "banner" %>
  </div>
  <div>
    <%= render "body" %>
  </div>
    <%= render 'shared/footer'%>
</div>
