<div class="pt-2 mt-5 col-12">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Set your emergency contact</h2>
        <p>Assign a person who will receive your trip details in the event at a preset date and time if you don’t report back as safe by the end of your hike.</p>
        <p>Learn more about emergency contacts <%= link_to 'here', '#' %></p>
      </div>
      <div class="col-6">
        <% if current_user.emergency_contacts.present? %>
          <%= render "emergency_contact_form" %>
        <% else %>
          <%= render "emergency_contact_selector" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
