<div class="container-mstep">
  <div class="content-left" id="emergency-bg">
    <h2 class="side-text">Set your emergency contact</h2>
    <h4 class="side-text-sub">Assign a person who will receive your trip details if you don’t report back as safe by the end of your hike.</h2>
    <p class="side-text-footer">Learn more about emergency contacts <%= link_to 'here', '#', class: "link-style" %>.</p>
  </div>
  <% if current_user.emergency_contacts.present? %>
  <div class="content-right" id="form-field">
    <% @emergency_contacts = @user.emergency_contacts %>
    <%= render "emergency_contact_selector" %>
  </div>
  <% else %>
  <div class="content-right" id="form-field">
    <% @emergency_contact = EmergencyContact.new(user: current_user) %>
    <%= render "emergency_contact_form" %>
  </div>
  <% end %>
</div>
