@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  // font-family: "Raleway", sans-serif;
  // font-size: 4em;
  // color: white;

  .parallax_wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .intro_screen {
      height: 100vh;
      background-color: tomato;
      @include align-center();
    }

    .outro_screen {
      height: 100vh;
      background-color: teal;
      @include align-center();
    }

    .parallax_group {
      position: relative;
      height: 100vh;
      transform-style: preserve-3d;

      .parallax_layer {
        position: absolute;
        inset: 0;
        @include align-center();
      }

      .base_layer {
        // scale calculation: 1 + (Z transform value * -1) / perspective)
        // transform: translateZ(-300px) scale(2);
        transform: translateZ(-300px) scale(2.01);
      }

      .mid_layer {
        // transform: translateZ(-150px) scale(1.5);
        transform: translateZ(-150px) scale(1.51);
      }

      .mid_top_layer {
        transform: translateZ(0);
      }

      .top_layer {
        transform: translateZ(210px) scale(0.3);
      }
    }

    #intro {
      z-index: 0;
    }

    #group-1 {
      z-index: -1;
    }

    #group-1 > .base_layer {
      // background-color: crimson;
      background-color: White;
    }

    // #group-1 > .mid_layer {
    //   background-color: crimson;
    // }

    // #group-1 > .mid_top_layer {
    //   background-color: crimson;
    // }

    #group-2 {
      // z-index: -2;
    }

    #group-2 > .mid_top_layer {
      background-color: yellowgreen;
    }

    #outro {
      // z-index: -3;
    }
  }
}
