.img {
  width: 80%;
};
.map {
  height: 1200px;
  width: auto;
}
.border-bottom {
  border-bottom: 4px solid gray;
};
.pt-2 {
  padding-top: 16px;
};
.mb-2 {
  margin-bottom: 16px;
};
.pt-5 {
  padding-top: 32px;
};
.mt-2 {
  margin-top: 16px;
};
.text-muted {
  color: grey;
};
.border-top {
  border-top: 4px solid gray;
};
.container {
  margin-left: 200px;
}
.alwaysbreak {
  page-break-before: always;
}
.map-container {
  margin-left: 150px
}
