.clickable {
  padding: 40px;
  width: 180px;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 10px;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.clickable i {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.clickable:hover {
  color: #586249;
  border: 1px solid #586249;
}

.clickable.active {
  color: #586249;
  background-color: #f7f7f7;
  border: 2px solid #586249;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}

.clickable.active i {
  color: #586249;
}

.iconbox {
 position: absolute;
 transform: scale(0);
}

.clickable-radio {
  padding: 20px;
  width: 180px;
  font-size: 12px;
  border: 1px solid #dedede;
  border-radius: 10px;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.clickable-radio:hover {
  color: #586249;
  border: 1px solid #586249;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
}

.contact-img {
  width: 80px;
}