#sidebar-bg {
  background: darkslategray;
  height: 100vh;
  padding: 4rem;
}

#form-field {
  height: 100vh;
  padding: 4rem;
  font-size: 1.5rem;
}

#button-nav {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.side-text {
  margin: 3rem;
  font-size: 2.5rem;
}

.side-text-sub {
  margin-left: 3rem;
  font-size: 1.3rem;
}

.side-text-footer {
  margin-left: 3rem;
  font-size: 1rem;
  font-style: italic;
  position: absolute;
  bottom: 15px;
}

.link-style {
  text-decoration: underline;
  color: #ffffff;
  background-color: #cfcbc8;
}

.link-style:hover {
  color: rgb(110, 110, 110);
}