#sidebar-bg {
  background: darkslategray;
  height: 100vh;
  padding: 4rem;
}

#form-field {
  height: 100vh;
  padding: 4rem;
  font-size: 1.5rem;
}

.side-text {
  margin: 3rem;
  font-size: 2.5rem;
}

.side-text-sub {
  margin-left: 3rem;
  font-size: 1rem;
}